<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GitHub Contribution Doodle Maker</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div id="app">
            <h1>GitHub Contribution Doodle Maker</h1>
            <p>Click boxes in the grid below to draw a design for your own GitHub timeline, then use the generated schedule (or JSON data) to make commits to bring your doodle to life!</p>
            <div class="controls">
                <div class="controls-left">
                    <button @click="handleClearClick">Clear All</button>
                </div>
                <div class="controls-right">
                    Size:
                    <button @click="gridSize = 'sm'">Small</button>
                    <button @click="gridSize = 'md'">Medium</button>
                    <button @click="gridSize = 'lg'">Large</button>
                </div>
            </div>
            <div class="grid-wrapper" :data-size="gridSize">
                <div class="grid-labels">
                    <span>Mon</span>
                    <span>Wed</span>
                    <span>Fri</span>
                </div>
                <div class="grid">
                    <button
                        v-for="day in days"
                        :key="day.id"
                        :data-count="day.count"
                        @click="handleDayClick(day)"
                    >
                    </button>
                </div>
            </div>
            <h2>Presets:</h2>
            <div class="presets">
                <button
                    v-for="preset in presets"
                    :key="preset.name"
                    @click="handlePresetClick(preset)"
                >
                    {{ preset.name }}
                </button>
            </div>
            <div class="table-col">
                <h2>Schedule:</h2>
                <div class="table-wrapper">
                    <table v-show="scheduleArray.length > 0">
                        <tr>
                            <th>Date:</th>
                            <th># of Commits:</th>
                        </tr>
                        <tr
                            v-for="(item, i) in scheduleArray"
                            :key="i"
                        >
                            <td>{{ item.date.toDateString() }}</td>
                            <td>{{ item.contributions }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <h2>JSON data:</h2>
            <pre>{{ days.filter(day => day.count > 0) }}</pre>
        </div>
        <script type="module">
        import { computed, createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        createApp({
            setup() {
                const gridSize = ref('sm')

                const days = ref([])

                for (let i = 0; i < 364; i++) {
                    days.value.push({ id: i, count: 0 })
                }

                function handleDayClick(day) {
                    if (day.count >= 4) {
                        day.count = 0
                    } else {
                        day.count++
                    }
                }

                function handleClearClick(preset) {
                    for (let i = 0; i < days.value.length; i++) {
                        days.value[i].count = 0
                    }
                }

                function handlePresetClick(preset) {
                    let n = 0
                    for (let i = 0; i < days.value.length; i++) {
                        if (preset.days[n]?.id === days.value[i].id) {
                            days.value[i].count = preset.days[n]?.count
                            n++
                        } else {
                            days.value[i].count = 0
                        }
                    }
                }

                const today = new Date()
                const currentDayOfWeek = today.getDay()

                const scheduleArray = computed(() => {

                    const daysWithContributions = days.value.filter(day => day.count > 0)

                    // If there are no days with contributions, exit early and return an empty array
                    if (!daysWithContributions.length) return []
                    
                    // Get the date of the Sunday corresponding to day.id === 0
                    const baseSunday = currentDayOfWeek === 0
                        ? today
                        : new Date(today.getFullYear(), today.getMonth(), today.getDate() - currentDayOfWeek)

                    // Offset the days in the schedule to start the commits as soon as possible
                    const offset = (daysWithContributions[0]?.id || 0) % 7 < currentDayOfWeek
                        ? 7 * (Math.floor(daysWithContributions[0]?.id / 7) - 1)
                        : 7 * Math.floor(daysWithContributions[0]?.id / 7)

                    return daysWithContributions.map((day) => {
                        return {
                            date: new Date(baseSunday.getTime() + (day.id * 86_400_000) - (offset * 86_400_000)),
                            contributions: day.count
                        }
                    })
                })

                const presets = [
                    {
                        name: 'Smiley',
                        days: [
                            { id: 15, count: 3 },
                            { id: 16, count: 3 },
                            { id: 17, count: 3 },
                            { id: 18, count: 3 },
                            { id: 19, count: 3 },
                            { id: 21, count: 3 },
                            { id: 22, count: 3 },
                            { id: 23, count: 3 },
                            { id: 24, count: 3 },
                            { id: 26, count: 3 },
                            { id: 27, count: 3 },
                            { id: 28, count: 3 },
                            { id: 29, count: 3 },
                            { id: 31, count: 3 },
                            { id: 32, count: 3 },
                            { id: 34, count: 3 },
                            { id: 35, count: 3 },
                            { id: 36, count: 3 },
                            { id: 37, count: 3 },
                            { id: 38, count: 3 },
                            { id: 39, count: 3 },
                            { id: 41, count: 3 },
                            { id: 42, count: 3 },
                            { id: 43, count: 3 },
                            { id: 45, count: 3 },
                            { id: 46, count: 3 },
                            { id: 48, count: 3 },
                            { id: 49, count: 3 },
                            { id: 50, count: 3 },
                            { id: 51, count: 3 },
                            { id: 52, count: 3 },
                            { id: 54, count: 3 },
                            { id: 55, count: 3 },
                            { id: 57, count: 3 },
                            { id: 58, count: 3 },
                            { id: 59, count: 3 },
                            { id: 60, count: 3 },
                            { id: 61, count: 3 }
                        ]
                    },
                    {
                        name: 'Snake',
                        days: [
                            { id: 16, count: 1 },
                            { id: 18, count: 1 },
                            { id: 24, count: 1 },
                            { id: 31, count: 1 },
                            { id: 38, count: 1 },
                            { id: 44, count: 4 },
                            { id: 45, count: 3 },
                            { id: 46, count: 1 },
                            { id: 50, count: 4 },
                            { id: 51, count: 4 },
                            { id: 52, count: 2 },
                            { id: 53, count: 2 },
                            { id: 56, count: 4 },
                            { id: 58, count: 3 },
                            { id: 59, count: 2 },
                            { id: 60, count: 2 },
                            { id: 61, count: 1 },
                            { id: 63, count: 4 },
                            { id: 64, count: 3 },
                            { id: 65, count: 3 },
                            { id: 66, count: 2 },
                            { id: 67, count: 2 },
                            { id: 68, count: 1 },
                            { id: 70, count: 4 },
                            { id: 72, count: 3 },
                            { id: 73, count: 2 },
                            { id: 74, count: 2 },
                            { id: 75, count: 1 },
                            { id: 77, count: 4 },
                            { id: 78, count: 3 },
                            { id: 79, count: 3 },
                            { id: 80, count: 2 },
                            { id: 81, count: 2 },
                            { id: 82, count: 1 },
                            { id: 84, count: 4 },
                            { id: 85, count: 3 },
                            { id: 86, count: 3 },
                            { id: 87, count: 2 },
                            { id: 88, count: 2 },
                            { id: 89, count: 1 },
                            { id: 92, count: 4 },
                            { id: 93, count: 3 },
                            { id: 94, count: 2 },
                            { id: 95, count: 1 },
                            { id: 99, count: 4 },
                            { id: 100, count: 3 },
                            { id: 101, count: 2 },
                            { id: 102, count: 1 },
                            { id: 106, count: 4 },
                            { id: 107, count: 3 },
                            { id: 108, count: 2 },
                            { id: 109, count: 1 },
                            { id: 113, count: 4 },
                            { id: 114, count: 3 },
                            { id: 115, count: 2 },
                            { id: 116, count: 2 },
                            { id: 117, count: 1 },
                            { id: 121, count: 4 },
                            { id: 122, count: 3 },
                            { id: 123, count: 2 },
                            { id: 124, count: 1 },
                            { id: 128, count: 4 },
                            { id: 129, count: 3 },
                            { id: 130, count: 2 },
                            { id: 131, count: 1 },
                            { id: 135, count: 4 },
                            { id: 136, count: 3 },
                            { id: 137, count: 2 },
                            { id: 138, count: 2 },
                            { id: 139, count: 1 },
                            { id: 143, count: 4 },
                            { id: 144, count: 3 },
                            { id: 145, count: 2 },
                            { id: 146, count: 1 },
                            { id: 150, count: 4 },
                            { id: 151, count: 3 },
                            { id: 152, count: 2 },
                            { id: 153, count: 1 },
                            { id: 157, count: 4 },
                            { id: 158, count: 3 },
                            { id: 159, count: 2 },
                            { id: 160, count: 1 },
                            { id: 164, count: 4 },
                            { id: 165, count: 3 },
                            { id: 166, count: 2 },
                            { id: 167, count: 1 },
                            { id: 170, count: 4 },
                            { id: 171, count: 3 },
                            { id: 172, count: 2 },
                            { id: 173, count: 2 },
                            { id: 174, count: 1 },
                            { id: 177, count: 4 },
                            { id: 178, count: 3 },
                            { id: 179, count: 2 },
                            { id: 180, count: 1 },
                            { id: 184, count: 4 },
                            { id: 185, count: 3 },
                            { id: 186, count: 2 },
                            { id: 187, count: 1 },
                            { id: 190, count: 4 },
                            { id: 191, count: 3 },
                            { id: 192, count: 2 },
                            { id: 193, count: 2 },
                            { id: 194, count: 1 },
                            { id: 197, count: 4 },
                            { id: 198, count: 3 },
                            { id: 199, count: 2 },
                            { id: 200, count: 1 },
                            { id: 204, count: 4 },
                            { id: 205, count: 3 },
                            { id: 206, count: 2 },
                            { id: 207, count: 1 },
                            { id: 211, count: 4 },
                            { id: 212, count: 3 },
                            { id: 213, count: 2 },
                            { id: 214, count: 1 },
                            { id: 218, count: 4 },
                            { id: 219, count: 3 },
                            { id: 220, count: 2 },
                            { id: 221, count: 1 },
                            { id: 225, count: 4 },
                            { id: 226, count: 3 },
                            { id: 227, count: 2 },
                            { id: 228, count: 2 },
                            { id: 229, count: 1 },
                            { id: 233, count: 4 },
                            { id: 234, count: 3 },
                            { id: 235, count: 2 },
                            { id: 236, count: 1 },
                            { id: 240, count: 4 },
                            { id: 241, count: 3 },
                            { id: 242, count: 2 },
                            { id: 243, count: 1 },
                            { id: 247, count: 4 },
                            { id: 248, count: 3 },
                            { id: 249, count: 2 },
                            { id: 250, count: 2 },
                            { id: 251, count: 1 },
                            { id: 255, count: 4 },
                            { id: 256, count: 3 },
                            { id: 257, count: 2 },
                            { id: 258, count: 1 },
                            { id: 262, count: 4 },
                            { id: 263, count: 3 },
                            { id: 264, count: 2 },
                            { id: 265, count: 1 },
                            { id: 269, count: 4 },
                            { id: 270, count: 3 },
                            { id: 271, count: 2 },
                            { id: 272, count: 1 },
                            { id: 276, count: 4 },
                            { id: 277, count: 3 },
                            { id: 278, count: 2 },
                            { id: 279, count: 1 },
                            { id: 282, count: 4 },
                            { id: 283, count: 3 },
                            { id: 284, count: 2 },
                            { id: 285, count: 2 },
                            { id: 286, count: 1 },
                            { id: 289, count: 4 },
                            { id: 290, count: 3 },
                            { id: 291, count: 2 },
                            { id: 292, count: 1 },
                            { id: 296, count: 4 },
                            { id: 297, count: 3 },
                            { id: 298, count: 2 },
                            { id: 299, count: 1 },
                            { id: 303, count: 4 },
                            { id: 304, count: 3 },
                            { id: 305, count: 2 },
                            { id: 306, count: 1 },
                            { id: 310, count: 4 },
                            { id: 311, count: 3 },
                            { id: 312, count: 2 },
                            { id: 313, count: 1 },
                            { id: 318, count: 4 },
                            { id: 319, count: 3 },
                            { id: 320, count: 2 },
                            { id: 321, count: 1 },
                            { id: 325, count: 4 },
                            { id: 326, count: 3 },
                            { id: 327, count: 2 },
                            { id: 328, count: 1 },
                            { id: 332, count: 4 },
                            { id: 333, count: 3 },
                            { id: 334, count: 2 },
                            { id: 335, count: 1 },
                            { id: 339, count: 4 },
                            { id: 340, count: 3 },
                            { id: 341, count: 2 },
                            { id: 342, count: 1 },
                            { id: 345, count: 4 },
                            { id: 346, count: 3 },
                            { id: 347, count: 2 },
                            { id: 348, count: 1 },
                            { id: 350, count: 3 },
                            { id: 351, count: 3 },
                            { id: 352, count: 2 },
                            { id: 353, count: 2 },
                            { id: 354, count: 2 },
                            { id: 355, count: 1 },
                            { id: 358, count: 1 },
                            { id: 359, count: 1 },
                            { id: 360, count: 1 },
                            { id: 361, count: 1 }
                        ]
                    },
                    {
                        name: 'Diagonals',
                        days: [
                            { id: 1, count: 1 },
                            { id: 2, count: 2 },
                            { id: 3, count: 4 },
                            { id: 4, count: 3 },
                            { id: 5, count: 2 },
                            { id: 6, count: 1 },
                            { id: 7, count: 1 },
                            { id: 8, count: 2 },
                            { id: 9, count: 4 },
                            { id: 10, count: 3 },
                            { id: 11, count: 2 },
                            { id: 12, count: 1 },
                            { id: 14, count: 2 },
                            { id: 15, count: 4 },
                            { id: 16, count: 3 },
                            { id: 17, count: 2 },
                            { id: 18, count: 1 },
                            { id: 20, count: 1 },
                            { id: 21, count: 4 },
                            { id: 22, count: 3 },
                            { id: 23, count: 2 },
                            { id: 24, count: 1 },
                            { id: 26, count: 1 },
                            { id: 27, count: 2 },
                            { id: 28, count: 3 },
                            { id: 29, count: 2 },
                            { id: 30, count: 1 },
                            { id: 32, count: 1 },
                            { id: 33, count: 2 },
                            { id: 34, count: 3 },
                            { id: 35, count: 2 },
                            { id: 36, count: 1 },
                            { id: 38, count: 1 },
                            { id: 39, count: 2 },
                            { id: 40, count: 3 },
                            { id: 41, count: 4 },
                            { id: 42, count: 1 },
                            { id: 44, count: 1 },
                            { id: 45, count: 2 },
                            { id: 46, count: 3 },
                            { id: 47, count: 4 },
                            { id: 48, count: 3 },
                            { id: 50, count: 1 },
                            { id: 51, count: 2 },
                            { id: 52, count: 3 },
                            { id: 53, count: 4 },
                            { id: 54, count: 3 },
                            { id: 55, count: 2 },
                            { id: 56, count: 1 },
                            { id: 57, count: 2 },
                            { id: 58, count: 3 },
                            { id: 59, count: 4 },
                            { id: 60, count: 3 },
                            { id: 61, count: 2 },
                            { id: 62, count: 1 },
                            { id: 63, count: 2 },
                            { id: 64, count: 3 },
                            { id: 65, count: 4 },
                            { id: 66, count: 3 },
                            { id: 67, count: 2 },
                            { id: 68, count: 1 },
                            { id: 70, count: 3 },
                            { id: 71, count: 4 },
                            { id: 72, count: 3 },
                            { id: 73, count: 2 },
                            { id: 74, count: 1 },
                            { id: 76, count: 1 },
                            { id: 77, count: 4 },
                            { id: 78, count: 3 },
                            { id: 79, count: 2 },
                            { id: 80, count: 1 },
                            { id: 82, count: 1 },
                            { id: 83, count: 2 },
                            { id: 84, count: 3 },
                            { id: 85, count: 2 },
                            { id: 86, count: 1 },
                            { id: 88, count: 1 },
                            { id: 89, count: 2 },
                            { id: 90, count: 3 },
                            { id: 91, count: 2 },
                            { id: 92, count: 1 },
                            { id: 94, count: 1 },
                            { id: 95, count: 2 },
                            { id: 96, count: 3 },
                            { id: 97, count: 4 },
                            { id: 98, count: 1 },
                            { id: 100, count: 1 },
                            { id: 101, count: 2 },
                            { id: 102, count: 3 },
                            { id: 103, count: 4 },
                            { id: 104, count: 3 },
                            { id: 106, count: 1 },
                            { id: 107, count: 2 },
                            { id: 108, count: 3 },
                            { id: 109, count: 4 },
                            { id: 110, count: 3 },
                            { id: 111, count: 2 },
                            { id: 112, count: 1 },
                            { id: 113, count: 2 },
                            { id: 114, count: 3 },
                            { id: 115, count: 4 },
                            { id: 116, count: 3 },
                            { id: 117, count: 2 },
                            { id: 118, count: 1 },
                            { id: 119, count: 2 },
                            { id: 120, count: 3 },
                            { id: 121, count: 4 },
                            { id: 122, count: 3 },
                            { id: 123, count: 2 },
                            { id: 124, count: 1 },
                            { id: 126, count: 3 },
                            { id: 127, count: 4 },
                            { id: 128, count: 3 },
                            { id: 129, count: 2 },
                            { id: 130, count: 1 },
                            { id: 132, count: 1 },
                            { id: 133, count: 4 },
                            { id: 134, count: 3 },
                            { id: 135, count: 2 },
                            { id: 136, count: 1 },
                            { id: 138, count: 1 },
                            { id: 139, count: 2 },
                            { id: 140, count: 3 },
                            { id: 141, count: 2 },
                            { id: 142, count: 1 },
                            { id: 144, count: 1 },
                            { id: 145, count: 2 },
                            { id: 146, count: 3 },
                            { id: 147, count: 2 },
                            { id: 148, count: 1 },
                            { id: 150, count: 1 },
                            { id: 151, count: 2 },
                            { id: 152, count: 3 },
                            { id: 153, count: 4 },
                            { id: 154, count: 1 },
                            { id: 156, count: 1 },
                            { id: 157, count: 2 },
                            { id: 158, count: 3 },
                            { id: 159, count: 4 },
                            { id: 160, count: 3 },
                            { id: 162, count: 1 },
                            { id: 163, count: 2 },
                            { id: 164, count: 3 },
                            { id: 165, count: 4 },
                            { id: 166, count: 3 },
                            { id: 167, count: 2 },
                            { id: 168, count: 1 },
                            { id: 169, count: 2 },
                            { id: 170, count: 3 },
                            { id: 171, count: 4 },
                            { id: 172, count: 3 },
                            { id: 173, count: 2 },
                            { id: 174, count: 1 },
                            { id: 175, count: 2 },
                            { id: 176, count: 3 },
                            { id: 177, count: 4 },
                            { id: 178, count: 3 },
                            { id: 179, count: 2 },
                            { id: 180, count: 1 },
                            { id: 182, count: 3 },
                            { id: 183, count: 4 },
                            { id: 184, count: 3 },
                            { id: 185, count: 2 },
                            { id: 186, count: 1 },
                            { id: 188, count: 1 },
                            { id: 189, count: 4 },
                            { id: 190, count: 3 },
                            { id: 191, count: 2 },
                            { id: 192, count: 1 },
                            { id: 194, count: 1 },
                            { id: 195, count: 2 },
                            { id: 196, count: 3 },
                            { id: 197, count: 2 },
                            { id: 198, count: 1 },
                            { id: 200, count: 1 },
                            { id: 201, count: 2 },
                            { id: 202, count: 3 },
                            { id: 203, count: 2 },
                            { id: 204, count: 1 },
                            { id: 206, count: 1 },
                            { id: 207, count: 2 },
                            { id: 208, count: 3 },
                            { id: 209, count: 4 },
                            { id: 210, count: 1 },
                            { id: 212, count: 1 },
                            { id: 213, count: 2 },
                            { id: 214, count: 3 },
                            { id: 215, count: 4 },
                            { id: 216, count: 3 },
                            { id: 218, count: 1 },
                            { id: 219, count: 2 },
                            { id: 220, count: 3 },
                            { id: 221, count: 4 },
                            { id: 222, count: 3 },
                            { id: 223, count: 2 },
                            { id: 224, count: 1 },
                            { id: 225, count: 2 },
                            { id: 226, count: 3 },
                            { id: 227, count: 4 },
                            { id: 228, count: 3 },
                            { id: 229, count: 2 },
                            { id: 230, count: 1 },
                            { id: 231, count: 2 },
                            { id: 232, count: 3 },
                            { id: 233, count: 4 },
                            { id: 234, count: 3 },
                            { id: 235, count: 2 },
                            { id: 236, count: 1 },
                            { id: 238, count: 3 },
                            { id: 239, count: 4 },
                            { id: 240, count: 3 },
                            { id: 241, count: 2 },
                            { id: 242, count: 1 },
                            { id: 244, count: 1 },
                            { id: 245, count: 4 },
                            { id: 246, count: 3 },
                            { id: 247, count: 2 },
                            { id: 248, count: 1 },
                            { id: 250, count: 1 },
                            { id: 251, count: 2 },
                            { id: 252, count: 3 },
                            { id: 253, count: 2 },
                            { id: 254, count: 1 },
                            { id: 256, count: 1 },
                            { id: 257, count: 2 },
                            { id: 258, count: 3 },
                            { id: 259, count: 2 },
                            { id: 260, count: 1 },
                            { id: 262, count: 1 },
                            { id: 263, count: 2 },
                            { id: 264, count: 3 },
                            { id: 265, count: 4 },
                            { id: 266, count: 1 },
                            { id: 268, count: 1 },
                            { id: 269, count: 2 },
                            { id: 270, count: 3 },
                            { id: 271, count: 4 },
                            { id: 272, count: 3 },
                            { id: 274, count: 1 },
                            { id: 275, count: 2 },
                            { id: 276, count: 3 },
                            { id: 277, count: 4 },
                            { id: 278, count: 3 },
                            { id: 279, count: 2 },
                            { id: 280, count: 1 },
                            { id: 281, count: 2 },
                            { id: 282, count: 3 },
                            { id: 283, count: 4 },
                            { id: 284, count: 3 },
                            { id: 285, count: 2 },
                            { id: 286, count: 1 },
                            { id: 287, count: 2 },
                            { id: 288, count: 3 },
                            { id: 289, count: 4 },
                            { id: 290, count: 3 },
                            { id: 291, count: 2 },
                            { id: 292, count: 1 },
                            { id: 294, count: 3 },
                            { id: 295, count: 4 },
                            { id: 296, count: 3 },
                            { id: 297, count: 2 },
                            { id: 298, count: 1 },
                            { id: 300, count: 1 },
                            { id: 301, count: 4 },
                            { id: 302, count: 3 },
                            { id: 303, count: 2 },
                            { id: 304, count: 1 },
                            { id: 306, count: 1 },
                            { id: 307, count: 2 },
                            { id: 308, count: 3 },
                            { id: 309, count: 2 },
                            { id: 310, count: 1 },
                            { id: 312, count: 1 },
                            { id: 313, count: 2 },
                            { id: 314, count: 3 },
                            { id: 315, count: 2 },
                            { id: 316, count: 1 },
                            { id: 318, count: 1 },
                            { id: 319, count: 2 },
                            { id: 320, count: 3 },
                            { id: 321, count: 4 },
                            { id: 322, count: 1 },
                            { id: 324, count: 1 },
                            { id: 325, count: 2 },
                            { id: 326, count: 3 },
                            { id: 327, count: 4 },
                            { id: 328, count: 3 },
                            { id: 330, count: 1 },
                            { id: 331, count: 2 },
                            { id: 332, count: 3 },
                            { id: 333, count: 4 },
                            { id: 334, count: 3 },
                            { id: 335, count: 2 },
                            { id: 336, count: 1 },
                            { id: 337, count: 2 },
                            { id: 338, count: 3 },
                            { id: 339, count: 4 },
                            { id: 340, count: 3 },
                            { id: 341, count: 2 },
                            { id: 342, count: 1 },
                            { id: 343, count: 2 },
                            { id: 344, count: 3 },
                            { id: 345, count: 4 },
                            { id: 346, count: 3 },
                            { id: 347, count: 2 },
                            { id: 348, count: 1 },
                            { id: 350, count: 3 },
                            { id: 351, count: 4 },
                            { id: 352, count: 3 },
                            { id: 353, count: 2 },
                            { id: 354, count: 1 },
                            { id: 356, count: 1 },
                            { id: 357, count: 4 },
                            { id: 358, count: 3 },
                            { id: 359, count: 2 },
                            { id: 360, count: 1 },
                            { id: 362, count: 1 },
                            { id: 363, count: 2 },
                        ]
                    },
                    {
                        name: 'Bubbles',
                        days: [
                            { id: 0, count: 1 },
                            { id: 1, count: 2 },
                            { id: 4, count: 1 },
                            { id: 12, count: 1 },
                            { id: 13, count: 2 },
                            { id: 22, count: 3 },
                            { id: 23, count: 4 },
                            { id: 28, count: 2 },
                            { id: 31, count: 4 },
                            { id: 35, count: 1 },
                            { id: 38, count: 3 },
                            { id: 41, count: 4 },
                            { id: 43, count: 1 },
                            { id: 44, count: 2 },
                            { id: 47, count: 3 },
                            { id: 53, count: 2 },
                            { id: 60, count: 1 },
                            { id: 63, count: 2 },
                            { id: 64, count: 3 },
                            { id: 67, count: 1 },
                            { id: 72, count: 3 },
                            { id: 75, count: 1 },
                            { id: 79, count: 2 },
                            { id: 83, count: 1 },
                            { id: 84, count: 1 },
                            { id: 85, count: 1 },
                            { id: 100, count: 2 },
                            { id: 101, count: 2 },
                            { id: 104, count: 1 },
                            { id: 106, count: 1 },
                            { id: 109, count: 2 },
                            { id: 111, count: 1 },
                            { id: 113, count: 1 },
                            { id: 116, count: 2 },
                            { id: 121, count: 1 },
                            { id: 122, count: 1 },
                            { id: 132, count: 2 },
                            { id: 138, count: 1 },
                            { id: 140, count: 3 },
                            { id: 141, count: 4 },
                            { id: 145, count: 1 },
                            { id: 149, count: 4 },
                            { id: 153, count: 1 },
                            { id: 157, count: 4 },
                            { id: 164, count: 3 },
                            { id: 171, count: 3 },
                            { id: 177, count: 2 },
                            { id: 182, count: 1 },
                            { id: 183, count: 1 },
                            { id: 186, count: 3 },
                            { id: 187, count: 4 },
                            { id: 192, count: 2 },
                            { id: 195, count: 4 },
                            { id: 196, count: 2 },
                            { id: 199, count: 1 },
                            { id: 202, count: 3 },
                            { id: 204, count: 3 },
                            { id: 207, count: 1 },
                            { id: 208, count: 2 },
                            { id: 211, count: 2 },
                            { id: 217, count: 1 },
                            { id: 220, count: 2 },
                            { id: 221, count: 3 },
                            { id: 222, count: 4 },
                            { id: 226, count: 2 },
                            { id: 230, count: 4 },
                            { id: 232, count: 1 },
                            { id: 239, count: 1 },
                            { id: 246, count: 1 },
                            { id: 254, count: 1 },
                            { id: 258, count: 2 },
                            { id: 262, count: 1 },
                            { id: 263, count: 1 },
                            { id: 264, count: 1 },
                            { id: 266, count: 3 },
                            { id: 273, count: 3 },
                            { id: 276, count: 2 },
                            { id: 277, count: 3 },
                            { id: 282, count: 1 },
                            { id: 285, count: 3 },
                            { id: 289, count: 1 },
                            { id: 292, count: 2 },
                            { id: 297, count: 1 },
                            { id: 298, count: 1 },
                            { id: 307, count: 3 },
                            { id: 308, count: 2 },
                            { id: 309, count: 3 },
                            { id: 313, count: 2 },
                            { id: 317, count: 3 },
                            { id: 319, count: 1 },
                            { id: 324, count: 2 },
                            { id: 326, count: 1 },
                            { id: 329, count: 1 },
                            { id: 330, count: 1 },
                            { id: 333, count: 1 },
                            { id: 341, count: 1 },
                            { id: 344, count: 2 },
                            { id: 345, count: 2 },
                            { id: 349, count: 1 },
                            { id: 350, count: 1 },
                            { id: 353, count: 2 },
                            { id: 357, count: 1 },
                            { id: 360, count: 2 },
                            { id: 363, count: 2 },
                        ]
                    },
                ]

                return {
                    currentDayOfWeek,
                    days,
                    gridSize,
                    handleClearClick,
                    handleDayClick,
                    handlePresetClick,
                    presets,
                    scheduleArray
                }
            }
        }).mount('#app')
        </script>
    </body>
</html>